$null
data/
.idea/
.ipynb_checkpoints/
Results.ipynb
_airware_tensorboard/
baseline_models/
bergstra12a.pdf
gridSearch/
leave_one_subject/
personalized_cv/
user_split_cv/
airware-utilizing-deep.pdf
__pycache__/
CNN_Eric.ipynb
TestCode.ipynb
gesture_data.py
logs.csv
model.png
papers/